*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size: 64.5%;
    --background-nav: #065E7C;
}

body{
    width: 100vw;
    height: 100vh;
}

input{
    width: 100%;
    border: none;
    background: hsl(187, 100%, 30%);
    padding: 12px 14px;
    font-size: 1.6rem;
    border-radius: 4px;
}

::placeholder{
    color: #FFFFFF;
}

#nav{
    
    background: var(--background-nav);
    display: flex;   
    gap: 25px;
    padding: 16px 26px;
}

#perfil{
    width: 42px;
    height: 42px;
    border-radius: 50%;
}

.post {
    padding: 26px 22px;
}

#post-img{
    width: 100%;
}

h1, h2{
    font-size: 2.4rem;
}

h3{
    font-size: 1.8rem;
}


article p {
    font-size: 1.6rem;
    line-height: 160%;
}

.like-and-deslike{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 8px;
    margin-bottom: 32px;
}

.icons{
    display: flex;
    gap: 20px;
}

.icons div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--background-nav);
}

.like-and-deslike img{
    width: 26px;
}

#artigos{
    padding: 26px 22px;
}


section{
    display: grid;
    grid-template-areas: 
    'imagem titulo';
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 16px;
    margin-top: 32px;
}


section img{
   
}


section span{
    font-size: 1.4rem;
}

footer{
    background: var(--background-nav);
    font-size: 1.6rem;
    padding: 16px 25px;
    color: #FFFFFF;
    text-align: center;
}



@media (min-width:806px) {
    
    body{
        width: 100vw;
        height: 100vh;
        display: grid;
        grid-template-areas: 
        'header header'
        'post artigos'
        'footer footer'
        ;
        overflow-x: hidden;
        grid-template-columns: 2fr 1fr;
        background-color: #F4FCFF;
        transition: 1s;
    }

    #nav{
        grid-area: header;
    }

    #artigo{
        grid-area: post;
        padding:  44px 34px 39px 109px;
    }

    #artigos{
        grid-area: artigos;
        padding-top: 44px;
        padding-right: 110px;
    }
    
    footer{
        grid-area: footer;
    }


    .post{
        padding: 0;
    }

    section{
        display: grid;
        grid-template-areas: 
        'imagem titulo';
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        gap: 16px;
        margin-top: 32px;
    }
}


